@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}
h1 {
  text-align: center;
}


/*
  Fuente de iconos
*/

@font-face {
    font-family: 'icons_asesorias_aspi';
    src:    url('fonts/icons_asesorias_aspi.eot?mcgwk3');
    src:    url('fonts/icons_asesorias_aspi.eot?mcgwk3#iefix') format('embedded-opentype'),
        url('fonts/icons_asesorias_aspi.ttf?mcgwk3') format('truetype'),
        url('fonts/icons_asesorias_aspi.woff?mcgwk3') format('woff'),
        url('fonts/icons_asesorias_aspi.svg?mcgwk3#icons_asesorias_aspi') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons_asesorias_aspi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
    content: "\e906";
}
.icon-image:before {
    content: "\e90d";
}
.icon-coin-dollar:before {
    content: "\e93b";
}
.icon-phone:before {
    content: "\e942";
}
.icon-location:before {
    content: "\e947";
}
.icon-location2:before {
    content: "\e948";
}
.icon-clock:before {
    content: "\e94e";
}
.icon-calendar:before {
    content: "\e953";
}
.icon-printer:before {
    content: "\e954";
}
.icon-undo2:before {
    content: "\e967";
}
.icon-redo2:before {
    content: "\e968";
}
.icon-bubble:before {
    content: "\e96b";
}
.icon-bubble2:before {
    content: "\e96e";
}
.icon-user:before {
    content: "\e971";
}
.icon-spinner6:before {
    content: "\e97f";
}
.icon-search:before {
    content: "\e986";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-earth:before {
    content: "\e9ca";
}
.icon-smile:before {
    content: "\e9e1";
}
.icon-sad:before {
    content: "\e9e5";
}
.icon-warning:before {
    content: "\ea07";
}
.icon-arrow-right:before {
    content: "\ea34";
}
.icon-arrow-left:before {
    content: "\ea38";
}
.icon-google-plus:before {
    content: "\ea8a";
}
.icon-facebook:before {
    content: "\ea8e";
}
.icon-twitter:before {
    content: "\ea93";
}


/*
  Configuración para botonera para compartir en redes sociales
*/
button {
  background-color: #aaa;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 0 #888, 1px 4px 2px rgba(0,0,0,0.2);
  color: white;
  display: block;
  font-family: sans-serif;
  /*font-size: .85em;*/
  font-weight: 300;
  outline: none;
  padding: 1em 0;
  position: relative;
  overflow: hidden;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  width: 3em;
  height: 3em;
}

button[data-sharer="twitter"] {
  background-color: #00aced;
  box-shadow: 0 2px 0 #0084b4, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="facebook"] {
  background-color: #3b5998;
  box-shadow: 0 2px 0 #224389, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="linkedin"] {
  background-color: #007AB5;
  box-shadow: 0 2px 0 #005E8C, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="googleplus"] {
  background-color: #DD4C39;
  box-shadow: 0 2px 0 #BB2D1A, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="email"] {
  background-color: #444;
  box-shadow: 0 2px 0 #222, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="whatsapp"] {
  background-color: #4DC247;
  box-shadow: 0 2px 0 #30AF29, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="telegram"] {
  background-color: #34ADE1;
  box-shadow: 0 2px 0 #0E9BD8, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="viber"] {
  background-color: #7C529E;
  box-shadow: 0 2px 0 #5F3485, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="pinterest"] {
  background-color: #CB2029;
  box-shadow: 0 2px 0 #A30E15, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="tumblr"] {
  background-color: #32506d;
  box-shadow: 0 2px 0 #1F3C59, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="hackernews"] {
  background-color: #FF6700;
  box-shadow: 0 2px 0 #C65000, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="reddit"] {
  background-color: #CEE3F8;
  box-shadow: 0 2px 0 #A2C6E8, 1px 4px 2px rgba(0,0,0,0.2);
  color: #335f89;
}
button[data-sharer="vk"] {
  background-color: #45668E;
  box-shadow: 0 2px 0 #2B4E77, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="buffer"] {
  background-color: #46ABED;
  box-shadow: 0 2px 0 #2198E5, 1px 4px 2px rgba(0,0,0,0.2);
}
button[data-sharer="xing"] {
  background-color: #006464;
  box-shadow: 0 2px 0 #135353, 1px 4px 2px rgba(0,0,0,0.2);
}

button:active {
  box-shadow: 0 0 0 transparent;
  transform: translateY(2px);
}

button .fa {
  height: 100%;
  left: 0;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 0;
  /*width: 1em;*/
  font-size: 2em;
}


/*
  
*/

.estructura {
    padding: 5px;
}

.encabezado {
  display: flex;
  justify-content: space-around;
}

.menu {
  background: #59BFA5;
  border-radius: 0.3em;
  padding: 0.3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#59BFA5), to(gray));
  text-transform: capitalize;
}

#menu__icon {
  color: lightgray;
  font-size: 1.3em;
}

.menu__list {
  list-style-type: none;
  margin: 0px;    
  overflow: hidden;
  padding: 0px;
  transition: max-height .5s ease-in-out;
}

.menu__list.visible {
  max-height: 200px;
}

.menu__link {
  display: block;
  line-height: 2;
  color: seashell;
}

.menu__link:hover {
  background: gray;
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(#59BFA5));
  border-radius: .5em;
}

/*
  Elementos de los <div> Izquierdo y derecho
*/
.menu__list__body {
  padding-left: 0px;
  margin-top: 0px;
}

.menu__list__item {
  border-bottom: 0.2em solid white;
  border-radius: 0 .5em .5em 0;
  border-right:  0.2em solid white;
  list-style-type: none;
  margin-top: 5px;
}

.menu__list__item:hover {
  background: lightgray;
}


/*
  Elementos de menu servicios <div = servicios>
*/

.menu__servicio {
  margin: 0em;
  padding-left: 0;
}

.menu__servicio_item {
  padding: .5em;
  list-style-type: none; 
  border-top: 0.4em solid lightgray; 
  border-right: 0.2em solid lightgray; 
  border-bottom: 0.1em solid lightgray; 
  border-left: 0.2em solid lightgray; 
}

/*
.menu__vineta {
  list-style-image: url('images/bullets-naranja.png');  
}

.menu__list__verde {
  list-style-image: url('images/bullets-verde.png');  
}
*/
/*.menu__vineta__servicio {
  padding-top: 5px;
  padding-bottom: 5px;
}*/

/* Botonera de compartir por redes sociales */
.menu_compartir {
  text-align: center;
}

/* Pintamos el último elemento del menu, su borde de ingual color que el fondo del <nav> */
.menu ul li:nth-last-child(1) {
  border-right: none;
}


.contenido_izquierdo, .contenido_central, .contenido_derecho {
  border: 2px solid #E2DDD9;
  background: #F1EFEF;
  margin-bottom: .6em;
  /*background: white;*/
}

.contenido_izquierdo p, .contenido_derecho p {
  padding: 1em;
  margin: 0px;
  text-align: center;
  background: #E2DDD9;
}


.contenido_central {
  background: #E2DDD9;
  order: -1;
}

#p_contactenos {
  background: #F0F0D8;
  padding: 1em;
  margin: 0;
}


.contactenos_form p {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.contactenos_form {
  margin-left: 1em;
  text-align: left;
}

.nombre, .apellido, .email, .telefono, .direccion {
  width: 22em;
}

#logo-pqrs {
  width: 8em;
  height: 8em;
  border: .3em solid lightgray;
  border-radius: 50%;
}

footer p {
  color: white;
  background: #59BFA5;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}


  .menu_compartir {
    display: block;
    list-style: none;
    margin: 0em;
    max-width: 100%;
  }


.btn_compartir {
  display: inline-block;
  margin-top: .1em;
  margin-bottom: .1em;
  margin-left: .5em;
  margin-right: .5em;
}

i {  margin-left: 0.3em; }




/*
  Pantalla pequeña Móviles
*/

@media screen and (max-width: 719px) {
  .estructura {
    display: flex;
    flex-direction: column;
  }
  .contenido_central {
   order: -1;   
  }

  .menu__list {
    max-height: 20px;
  }

}

/*
  Configuración para PCs
*/

@media screen  and (min-width: 1000px) {
  body {
    font-size: 16px;
  }
  .estructura {
    display: flex;
    justify-content: center;
  }


  .contenido_izquierdo {
    width: 15em;
    margin-right: 1em;
  }
  .contenido_central {
    width: 25em;
    order: 0;
  }

  .contenido_derecho {
    width: 15em;
    margin-left: 1em;
  }

  .icon-menu {
    display: none;
  }

  .menu {
    text-align: center;
  }

  .menu__link {
    line-height: normal;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .menu ul li {
    display: inline-block;
  }

 .menu ul li:nth-child(1) {
    display: none;
  }  

}

