.encabezado {
	background: gray;
	display: -webkit-inline-box;
	width: 100%;
}

.encabezado h1 {
	float: center;
}
.menu {
	background: lightblue;
}

.menu ul li {
	display: inline;
	padding: 25px 25px;
}

.estructura {
	background: lightgreen;
	padding: 5px;
}

.contenido_izquierdo {
	background: lightgray;
	width: 22%;
	float: left;
}

.contenido_central {
	background: orange;
	display: inline-block;
	text-align: -webkit-center;
	width: 50%;
}

.contenido_derecho {
	background: lightgray;
	width: 22%;
	float: right;
}

.contactenos_form p {
	margin: 0px;
	padding: 0px;
	text-align: left;
}


.contactenos_form {
	margin-left: 150px;
	text-align: left;
}

.nombre, .apellido, .email, .telefono, .direccion {
	width: 300px;
}